
.cssload-container{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #FFF;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 4px solid #FFF;
	border-left-color: rgb(199,0,0);
	border-radius: 4121px;
		-o-border-radius: 4121px;
		-ms-border-radius: 4121px;
		-webkit-border-radius: 4121px;
		-moz-border-radius: 4121px;
}

.cssload-whirlpool {
	margin: -103px 0 0 -103px;
	height: 206px;
	width: 206px;
	animation: cssload-rotate 1000ms linear infinite;
		-o-animation: cssload-rotate 1000ms linear infinite;
		-ms-animation: cssload-rotate 1000ms linear infinite;
		-webkit-animation: cssload-rotate 1000ms linear infinite;
		-moz-animation: cssload-rotate 1000ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -95px 0 0 -95px;
	height: 182px;
	width: 182px;
	animation: cssload-rotate 1000ms linear infinite;
		-o-animation: cssload-rotate 1000ms linear infinite;
		-ms-animation: cssload-rotate 1000ms linear infinite;
		-webkit-animation: cssload-rotate 1000ms linear infinite;
		-moz-animation: cssload-rotate 1000ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -120px 0 0 -120px;
	height: 231px;
	width: 231px;
	animation: cssload-rotate 2000ms linear infinite;
		-o-animation: cssload-rotate 2000ms linear infinite;
		-ms-animation: cssload-rotate 2000ms linear infinite;
		-webkit-animation: cssload-rotate 2000ms linear infinite;
		-moz-animation: cssload-rotate 2000ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}